.container-ordenacao li a {
  padding: 0 0.25em;
  font-size: 22px;
  font-weight: 500;
}

.item__list--ativo,
.item__list--ativo:hover,
.item__list--ativo:focus,
.item__list--ativo:active,
.item__list--ativo:visited {
  color: var(--verde-destaque);
}

.item__list {
  color: var(--cinza-medio);
  text-decoration: none;
}

.container-ordenacao {
  display: flex;
  justify-content: center;
  margin: 2.5em 0;
}

.container-ordenacao ul {
  list-style-type: none;
  display: flex;
  gap: 1.5em;
}
